<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MiAid</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Runner</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.em.bright.miaid.braintree</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.em.bright.miaid.braintree</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb335481152576250</string>
			</array>
		</dict>
		<dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.em.bright.miaid.square</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>miaidsquare</string>
            </array>
        </dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>335481152576250</string>
	<key>FacebookClientToken</key>
	<string>3eb79edaa280c25458d4d1cfe3d39800</string>
	<key>FacebookDisplayName</key>
	<string>MiAid</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>comgooglemaps</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>waze</string>
		<string>yandexmaps</string>
		<string>yandexnavi</string>
		<string>citymapper</string>
		<string>mapswithme</string>
		<string>osmandmaps</string>
		<string>dgis</string>
		<string>qqmap</string>
		<string>here-location</string>
		<string>sms</string>
		<string>square-commerce-v1</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To place video consultations with our team members</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>With Location Tracking turned on, MiAid periodically sends your location in the background to your designated emergency contact email for travel safety. This feature is off by default and can be turned off anytime in Location Tracking settings.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>With Location Tracking turned on, MiAid periodically sends your location in the background to your designated emergency contact email for travel safety. This feature is off by default and can be turned off anytime in Location Tracking settings.</string>
	<key>NSLocationUsageDescription</key>
	<string>This app needs access to the current location to see nearby Emergency department, clinics and pharmacies.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to the current location to see nearby Emergency department, clinics and pharmacies.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone access is required to have a video call with customer service, and the doctors.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To pick your profile picture and allow attachments in doctor's chat</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
