<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294522101103-3er054g3tqt1ge6b01fdgr2uqpvc72o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294522101103-3er054g3tqt1ge6b01fdgr2uqpvc72o7</string>
	<key>API_KEY</key>
	<string>AIzaSyC4mYVAU5lgsbQqgwCR7zOCn80h850VQ2g</string>
	<key>GCM_SENDER_ID</key>
	<string>294522101103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.em.bright.ios.miaid</string>
	<key>PROJECT_ID</key>
	<string>miaid-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>miaid-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294522101103:ios:920a9ca1075451e1a15c9a</string>
</dict>
</plist>